body{
    background-color: aquamarine;
    font-family: Calibri;
}
table{
    background-color: yellow;
    font-size: 25px;
    border: none;
}
th{
    background-color: yellow;
}
td{
    text-align: center;
}
tr:hover{
    background-color: chartreuse;
}
tr:nth-child(odd):hover{
    background-color: chartreuse;
}
tr:nth-child(odd){
    background-color: orange;
}
button{
    background-color: blueviolet;
    font-weight: bold;
    font-size: 25px;
}
button:hover{
    background-color: pink;
}
button{
    background-color: deeppink;
}
input{
    width: 300px;
    height: 40px;
    font-size: 18px;
}
fieldset{
    height: auto;
    font-size: 25px;
    width: 500px;
}
p{
    color: red;
}
legend{
    color: red;
}